/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
  display: none;
}

p{
  white-space: pre-line;
}


/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.infoi {
  display: none;
}
    
.infop:hover + .infoi {
  display: block;
}

@media (max-width: 600px) {
  .hidden-mobile {
    display: none;  
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;  
  }
}

@media (min-width: 767px) {
  .hidden-lg {
    display: none;
  }
}

@media (max-height: 767px) {
  .responsive {
    height: 86vh;
  }
}
@media (min-height: 767px) {
  .responsive {
    height: 85.4vh;
  }
}

@media (min-height: 1000px) {
  .responsive {
    height: 90vh;
  }
}

@media (min-height: 1300px) {
  .responsive {
    height: 93vh;
  }
}

/* Media query for iPhones with height between 800px and 900px */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (orientation: portrait) 
  and (min-height: 800px) 
  and (max-height: 820px) {

  .responsive {
    height: 44em;
  }
}

@media only screen and (min-height: 821px) and (max-height: 841px) {
  .responsive {
    height: 46em;
  }
}
@media only screen and (min-height: 841px) and (max-height: 862px) {
  .responsive {
    height: 47em;
  }
}
@media only screen and (min-height: 862px) and (max-height: 883px) {
  .responsive {
    height: 48em;
  }
}
@media only screen and (min-height: 883px) and (max-height: 920px) {
  .responsive {
    height: 50em;
  }
}


